<% if @events == [] %>

<div class="text-center">
  <h1>Woolli timeline. Your child's very own baby book.
  <br>
  <small>Add an event to create a timeline for <%= @baby.name %></small></h1>
  <%= link_to "Make an Event", new_baby_event_path, :class => "btn btn-success", :id => "no-event-btn", :data => {toggle: "modal", target: "#eventModal"} %>
  <br>
  <%= image_tag("wooli_front_purple.png") %>
  <p class="timeline-start">Click the "Make an Event" button to add events and photos to the timeline.
  Your baby's timeline will start at his/her birthday and every event will create a new tick on the timeline according to the date that you put in.
  Woolli will store your photos and information so that you can always come back to reminisce about <%= @baby.name %>'s first steps.</p>
  <br>
</div>

<% else %>

<body>
  <div id="my-timeline"></div>
</body>



<div class="btn-margins-large">


  <div class="social-container">


    <%= link_to "Make an Event", new_baby_event_path, :class => "btn btn-success", :data => {toggle: "modal", target: "#eventModal"} %>
    <%= link_to "#{@baby.name}'s Measurements", baby_stats_path, :class => "btn btn-info" %>


    <div class="float-right">

      <div class="links">
        <a href="#" data-type="twitter" data-url="http://localhost:3000/babies/<%= @baby.id %>/events" data-description='<%= "See my baby #{@baby.name}'s Timeline I made on bnkybk!" %>' class="prettySocial fa fa-twitter"></a>

        <a href="#" data-type="facebook" data-url="http://localhost:3000/babies/<%= @baby.id %>/events" data-title="<%= @baby.name %>" data-description='<%= "See my baby #{@baby.name}'s Timeline I made on bnkybk!" %>' data-media="" class="prettySocial fa fa-facebook"></a>

        <a href="#" data-type="googleplus" data-url="http://localhost:3000/babies/<%= @baby.id %>/events" data-description='<%= "See my baby #{@baby.name}'s Timeline I made on bnkybk!" %>' class="prettySocial fa fa-google-plus"></a>

        <a href="#" data-type="pinterest" data-url="http://localhost:3000/babies/<%= @baby.id %>/events" data-description='<%= "See my baby #{@baby.name}'s Timeline I made on bnkybk!" %>' data-media="" class="prettySocial fa fa-pinterest"></a>
      </div>

    </div>

</div>
<% end %>

    <script type="text/javascript">
      $('.prettySocial').prettySocial();
    </script>

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>