<body>
  <div id="my-timeline"></div>
</body>



<div class="btn-margins-large">


  <div class="social-container">


    <%= link_to "Make an Event", new_baby_event_path, :class => "btn btn-success", :data => {toggle: "modal", target: "#eventModal"} %>


    <div class="float-right">

      <div class="links">
        <a href="#" data-type="twitter" data-url="http://localhost:3000/babies/<%= @baby.id %>/events" data-description='<%= "#{@baby.name}'s Timeline" %>' class="prettySocial fa fa-twitter"></a>

        <a href="#" data-type="facebook" data-url="http://localhost:3000/babies/<%= @baby.id %>/events" data-title="<%= @baby.name %>" data-description="<%= @baby.name %>" data-media="" class="prettySocial fa fa-facebook"></a>

        <a href="#" data-type="googleplus" data-url="http://localhost:3000/babies/<%= @baby.id %>/events" data-description="<%= @baby.name %>" class="prettySocial fa fa-google-plus"></a>

        <a href="#" data-type="pinterest" data-url="http://localhost:3000/babies/<%= @baby.id %>/events" data-description="<%= @baby.name %>" data-media="" class="prettySocial fa fa-pinterest"></a>
      </div>

    </div>

</div>

    <script type="text/javascript">
      $('.prettySocial').prettySocial();
    </script>

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>