


  <%= bootstrap_form_for [@baby, @event] do |f| %>
  <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="myModalLabel">Create a New Event</h3>
  </div>
  <div class="modal-body">
    <%= f.text_field :date, :placeholder =>"Enter a date (ex. March 30, 2015)" %>
    <%= f.text_field :topic, :placeholder => "Enter a topic" %>
    <%= f.text_field :body, :placeholder => "Enter the details" %>
    <%= f.submit "Create Event", :class => "btn btn-info" %>
  <% end %>
  </div>
