<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel"> <%=@event.topic%> </h4>
  </div>
  <div class="modal-body">

  <p> <strong><%=@event.date.strftime("%A, %B %e, %Y")%></strong> </p>
    <p> <%=@event.body%> </p>


<% if @media == [] %>
  <div class="no-images text-center">
    <strong>Add photos to create a slide show for this event</strong>
  </div>
<% else %>
  <!-- image slider -->
  <div class="slider-wrapper">
    <% @media.each do |image| %>
      <div class="slider-box">
        <a href="<%= cl_image_path(image.url) %>" target="_blank">
          <%= cl_image_tag( image.url,
            :width => 400,
            :height => 300,
            :crop => :fill,
            :gravity => :face,
            :class => "slider-img"
          ) %>
        </a>
      </div>
    <% end %>
  </div>
<% end %>

  </div>

<div class="modal-footer">
  <%= link_to "Add a Photo",new_baby_event_medium_path(@baby, @event), :class => "btn btn-info" %>
  <%= link_to "See Photos", baby_event_media_path(@baby, @event), :class => "btn btn-info" %>
<% if @current_user %>
  <%= link_to "Edit Event", edit_baby_event_path(@baby, @event), :class => " btn btn-info", :data=>{toggle: 'modal', target: '#myModal' } %>
  <%= link_to "Delete Event",baby_event_path(@baby, @event), :method => :delete, :class => " btn btn-danger" %>
<% end %>
</div>
</div>

<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>

