<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel"> <%=@event.topic%> </h4>
  </div>
  <div class="modal-body">

    <p> <strong><%=@event.date.strftime("%A, %B %e, %Y")%></strong> </p>
    <p> <%=@event.body%> </p>

<!-- gallery slideshow -->
<div id="baby-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#baby-carousel" data-slide-to="0" class="active"></li>
        <% @media.each do |image, idx| %>
        <li data-target="#baby-carousel" data-slide-to="<%= idx %>" class=""></li>
        <% end %>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img id="stock-photo" src="http://cliparts.co/cliparts/di4/oky/di4okygLT.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1><%= @baby.name %></h1>
                </div>
            </div>
        </div>
        <% @media.each do |image| %>
        <div class="item">
          <a href="<%= cl_image_path(image.url) %>" target="_blank">
            <%= cl_image_tag( image.url,
              :class => "slider-img-2",
              :width => 400,
              :height => 300,
              :crop => :fill,
              :gravity => :face
            ) %>
          </a>
        </div>
        <% end %>
    </div>

    <a class="left carousel-control" href="#baby-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#baby-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


<div class="modal-footer">
  <%= link_to "Add a Photo",new_baby_event_medium_path(@baby, @event), :class => "btn btn-info" %>
  <%= link_to "See Photos", baby_event_media_path(@baby, @event), :class => "btn btn-info" %>
<% if @current_user %>
  <%= link_to "Delete Event",baby_event_path(@baby, @event), :method => :delete, :class => " btn btn-danger" %>
<% end %>
</div>
</div>

<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>

