<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel"> <%=@event.topic%> </h4>
  </div>
  <div class="modal-body">

    <p> <%=@event.body%> </p>
    <p> <%=@event.date.strftime("%A, %B %e, %Y")%> </p>


    <!-- image slider -->


<div class="slider-wrapper">

  <% @media.each do |image| %>
    <div class="slider-box">
        <%= cl_image_tag( image.url,
          :width => 400,
          :height => 300,
          :crop => :fill,
          :gravity => :face,
          :class => "slider-img"
        ) %>
    </div>
  <% end %>
</div>




  </div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <%= link_to "Add a Photo for this Event",new_baby_event_medium_path(@baby, @event), :class => "btn btn-info" %>
</div>

<script>

    $(function(){

      $(".slider-wrapper").sliderReverse({
        animateType   : false,
        autoPlaySpeed : 5000,
        btnsText      : {
          next      : "Next",
          prev      : "Prev",
          play      : "Play",
          pause     : "Pause"
        },
        hoverPause    : true,
        navigation    : true,
        speed         : "normal",
        swipe         : true,
        swipeLimit    : 100,
        responsive    : true,
        width         : "500px"
      });

    });

</script>