<% @babies.each do |baby| %>

  <div class="my-babies">
  <h2 class="baby-name"><%= baby.name %></h2>
  <div class="float-right"><%= link_to "", edit_baby_path(baby), :class => "fa fa-gears edit-link", :data => {toggle: 'modal', target: '#editModal'} %></div>
  <hr>
  <% if baby.profile_pic == nil %>

  <div class="add-profile">
    <h3 class="add">Add a photo for <%= baby.name %></h3>
  </div>

  <% else %>
    <%= cl_image_tag( baby.profile_pic,
      :class => "baby-profile",
      :height => 220,
      :width => 220,
      :gravity => "face",
      :crop => "fill",
      :radius => "max",
      :border => { :width => 4, :color => '#fdffeb' },
      :background => "#3a7ec5"
    ) %>

  <% end %>
<hr>
  <div class="baby-info">
  <p><strong>Born on:<br>
    </strong><%= baby.birthday.strftime("%A, %B %e, %Y") %></p>
    <% if @last_stat %>
        <p>As of <strong><%= baby.stats.last.date.strftime("%B %e, %Y") %></strong>,<br>
        I am <%= baby.stats.last.weight %>kg, <%= baby.stats.last.height %>cm</p>
    <% end %>
   </div>
<hr>
<!--   </div> -->
  <div class="horizontal-class">
      <li><%= link_to "Timeline", baby_events_path(baby), :class => "btn btn-info btn-sm" %></li>
      <li><%= link_to "Measurements", baby_stats_path(baby), :class => "btn btn-info btn-sm"%></li>
</div>
</div>
<% end %>