<% @babies.each do |baby| %>

  <div class="my-babies">
  <h2 class="baby-name"><%= baby.name %></h2>
  <hr>
    <%= cl_image_tag( baby.profile_pic,
      :class => "baby-profile",
      :height => 220,
      :width => 220,
      :gravity => "face",
      :crop => "fill",
      :radius => "max"
    ) %>
<hr>
  <div class="baby-info">
  <p><strong>Born on:<br>
    </strong><%= @birthday %></p>
    <% if @last_stat %>
    <% @last_stat.each do |stat| %>
    <% if stat.date %>
        <p>As of <strong><%= stat.date.strftime("%B %e, %Y") %></strong>,<br>
        I am <%= stat.weight %>kg, <%= stat.height %>cm</p>
    <% end %>
   <% end %>
   <% end %>
   </div>
<hr>
<!--   </div> -->
  <ul class="horizontal-class">
      <li><%= link_to "Timeline", baby_events_path(baby), :class => "btn btn-info btn-sm" %></li>
      <li><%= link_to "Measurements", baby_stats_path(baby), :class => "btn btn-info btn-sm"%></li>
      <li><%= link_to "Edit", edit_baby_path(baby), :class => "btn btn-info btn-sm", :data => {toggle: 'modal', target: '#editModal'} %></li>
</ul>
</div>
<% end %>