<div class="row">
  <div class="col-md-8 col-offset-md-2">

  <h2><%= "#{@baby.name}'s" %> Progress</h2>

<div class="baby-stats">
  <%= render partial: 'stats' %>
</div>



<!-- Button trigger modal -->
<%= link_to 'Create an Update'.html_safe, new_baby_stat_path, :class=>'btn btn-success btn-margins', :data=>{toggle:'modal',target:'#myModal'} %>
<%= link_to "#{@baby.name}'s Profile", baby_path(@baby), :class => "btn btn-info btn-margins" %>



  </div>
</div>


<h2>Baby Data WOW</h2>
<% @data.each do |x|  %>
<%= x[:"5th_percentile_length_in_centimeters"] %>
<% end %>

<% @data1.each do |x|  %>
<%= x[:"5th_percentile_length_in_centimeters"] %>
<% end %>


<% @data2.each do |x|  %>
<%= x[:"3rd_percentile_weight_in_kilograms"] %>
<% end %>

<% @data3.each do |x|  %>
<%= x[:"3rd_percentile_weight_in_kilograms"] %>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>


