<div class="row">
  <div class="col-md-8 col-offset-md-2">

  <h2><%= "#{@baby.name}'s" %> Progress</h2>
  <%= link_to "#{@baby.name}'s Profile", baby_path(@baby) %>

<% @stats.each do |stat| %>
  <p><%= stat.date.strftime("%A, %B %e, %Y") %></p>
  <p><%= stat.weight %> kg</p>
  <p><%= stat.height %> cm</p>
  <hr>
<% end %>


  <%= link_to "Create an Update", new_baby_stat_path, :class => "btn btn-success glyphicon glyphicon-hand-right" %>




  </div>
</div>


<h2>Baby Data WOW</h2>
<% @data.each do |x|  %>
<%= x[:"5th_percentile_length_in_centimeters"] %>
<% end %>

<% @data1.each do |x|  %>
<%= x[:"5th_percentile_length_in_centimeters"] %>
<% end %>


<% @data2.each do |x|  %>
<%= x[:"3rd_percentile_weight_in_kilograms"] %>
<% end %>

<% @data3.each do |x|  %>
<%= x[:"3rd_percentile_weight_in_kilograms"] %>
<% end %>


