<meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
<div class="col-md-6">

  <h2><%= "#{@baby.name}'s" %> Progress</h2>

  <h3>Most Recent Growth Measurments</h3>

  <div class="baby-stats">
    <div class="table-responsive">
      <table class="table table-condensed baby-recent">
        <thead>
          <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Height</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'stats' %>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Button trigger modal -->
  <%= link_to 'Create an Update', new_baby_stat_path, :class=>'btn btn-success', :data=>{toggle:'modal',target:'#myModal'} %>

  <!-- Button trigger stat-history modal -->
  <%= link_to 'See All Measurements', baby_stat_modal_path, :class => 'btn btn-primary', :data=>{toggle: 'modal', target: '#myModal' }  %>

  <!-- Button to baby's timeline page -->
  <%= link_to "#{@baby.name}'s Timeline", baby_events_path, :class => 'btn btn-info' %>



</div>

<% if @gender == "boy" %>
  <!-- canvas for boy stats graphs-->
    <div class="col-md-6" style="width:40%">
      <h3><%= "#{@baby.name}" %> and National Weight Averages</h3>
        <canvas id="canvas" width="400" height="400"></canvas>
    </div>

    <div style="width:40%">
        <h3><%= "#{@baby.name}" %> and National Length Averages</h3>
        <canvas id="canvas2" width="400" height="400"></canvas>
    </div>

<% else %>

  <!-- canvas for boy stats graphs-->
    <div class="col-md-6" style="width:40%">
      <h3><%= "#{@baby.name}" %> and National Length Averages</h3>
      <canvas id="canvas3" width="400" height="400"></canvas>
    </div>

    <div style="width:40%">
        <h3><%= "#{@baby.name}" %> and National Weight Averages</h3>
        <canvas id="canvas4" width="400" height="400"></canvas>
    </div>

<% end %>

<!-- Calling data for js -->
<%= content_tag :div, class: "stat_information", data: {temp: @stats} do %>
<% end %>
<%= content_tag :div, class: "baby_information", data: {temp: @baby} do %>
<% end %>

<!-- New Stat Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>
