<!DOCTYPE html>
<html>
<head>
  <title>Woolli</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= Gon::Base.render_data({}) %>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//bootswatch.com/lumen/bootstrap.min.css">

  <!-- TimelineJS CSS -->
  <link rel="stylesheet" type="text/css" href="//cdn.knightlab.com/libs/timeline/latest/css/timeline.css">
  <!-- Self Stylesheets -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


  <!-- TimlineJS CDN -->
  <script type="text/javascript" src="//cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
  <!-- include cloudinary widget -->
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- set up cloudinary widget -->
<% #= cloudinary_js_config %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <div class="circle">
          <%= image_tag("elephant_yellow.png", :style => "height: 30px;") %>
        </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <!-- Nav links can go here for left side -->
        </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <!-- Nave links can go here for right side -->
      <% if @current_user %>
        <li><%= link_to "Add a Child", new_baby_path, :data => {toggle: 'modal', target: '#babyModal'} %></li>
        <li><%= link_to "Home", babies_path %></li>
        <li><%= link_to "Log Out", logout_path %></li>
      <% else %>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Log In", login_path %></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div id="body" class="container">

    <%= render "layouts/flash" %>

    <%= yield %>

  </div>

  <!-- New Baby Modal -->
<div class="modal fade bs-modal-sm" id="babyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
    </div>
  </div>
</div>

</body>
<footer>
<div class="container">
  <div class="row">
      <div class="col-md-4">
          <span class="copyright">Copyright &copy; Woolli</span>
      </div>
      <div class="col-md-4">
          <ul class="list-inline social-buttons">
              <li><a href="/about"><i class="fa fa-info"></i></a></li>
          </ul>
      </div>
      <div class="col-md-4">
          <ul class="list-inline quicklinks">
              <li><a href="#">Privacy Policy</a>
              </li>
              <li><a href="#">Terms of Use</a>
              </li>
          </ul>
      </div>
  </div>
</div>
</footer>
</html>

